body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}


h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
     text-transform: capitalize;
    
}
h2 {
    font-size: 35px;
}

* {
    background-color: rgb(27, 29, 37);
}

p {
    color: rgb(253, 249, 249);
    font-size: 1.5em;

}

nav {
    padding-right: 7px;
    float: left;
    position: fixed;
    top: 35%;
    left: 80px;
    font-size: 40px;
 


}

a {
    margin: 10px;
}

section {
    color: floralwhite;
    width: 60%;
    float: right;
    clear: right;          
    padding-left: 250px;

}

.bottom{
    bottom: 0px;
    position:fixed ;
    right: 5px;
}
a {
    text-decoration: none;
    
}
li{
    list-style-type: none;
    font-style:non ;
}
